@import url("https://fonts.googleapis.com/css?family=Poppins");
/* style fonts and add background image and backup */
body {
    font-family: Poppins, serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}


/* style header to flex to allow centering of elements*/
header{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

/* same with nav links to style the 3 nav selections seperate from logo image */ 
.nav_links{
    display: flex;
    flex-direction: column;
}

/*animation for logo on page load */
@keyframes loadlogo {
    from {width: 25px; opacity: 0;}
    to {width: 475px; opacity: 1;}
}

/*logo to be animated*/
#logo {
    animation-name: loadlogo;
    animation-duration: 5s;
}

/* select header direct descendent of .card class, style for rounded edges */
.card > header {
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

/* also style card to remove white background not curved */
.card {
    flex-basis: 450px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

/* use flex with rows and wrap to create evenly sized cards centered */
.pricing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* add border to images in gallery class */
.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

/* use flex with wrap on parent container to make layout of images responsive */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* make visited color same as non visited color for nav links */
.nav_item a:visited {
    color: blue ;
}

/*media selector for larger screens */
@media screen and (min-width: 900px) {
    
    /* make nav link elements spread out to oposite sides using flex space between */
    header {
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
    }

    .nav_links {
        flex-direction: row;
    }

    /*set styling for card to create smaller horizontal row display with variable sizes */
    .card {
        flex-basis: 275px;
    }

    /* set main header to stick to the top of the screen */
    body > header {
        position: sticky; 
        top: 0; 
    }

}

/*media selector for reduced screen motion accessibility feature, disable animation of logo */
@media screen and (prefers-reduced-motion: reduce) {
    #logo {
        animation: none;
    }
}

/* media selector to style webpage when in portrait print view */
@media print {
    /* change font from earlier specified fonts */
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }

    /* center and space nav items and links instead of putting them in opposite corners */
    .nav_item {
        align-self: center;
    }

    .nav_links{
        flex-direction: row;
        justify-content:space-around;
    }

    /* align cards along their bottom using flex */
    .pricing {
        align-items: flex-end;
        flex-wrap: nowrap;
    }

    .card {
        flex-basis: 325px;
        border: 2px solid #45ADDD;
    }

    /* remove gallery section from print display */
    .gallery, #gallery{
        display: none;
    }

    /* add thumbs up to cards after the second bullet of text */
    .card li:nth-child(2)::after {
        content: "👍";
    }
}